.main_content {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  
  .account_box {
    width: 83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    color: #ffffff;
  }
  
  .change_box {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .change_box p {
    margin-bottom: 20px;
  }
  
  .button_group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .button_group button {
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .button_group button:hover {
    background-color: #ffffff;
    color: #111111;
  }