.artistsPage
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.cardsContainer
{
    flex-grow: 1;
    align-self: center;
    padding: 4rem;
}


.firstCardsRow, .secondCardsRow
{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.firstCardsRow
{
    margin-bottom: 3rem;
}

.title
{
    color: white;
    font-size: 2.8rem;
    width: 12.6rem;
    height: 3.9rem;
    font-weight: bold;
}