.sidebar {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100vh;
	min-width: fit-content;
	width: 18%;
	background-color: black;
	font-size: 2.5rem;
	text-align: center;
	color: white;
	padding: 1rem;
	white-space: nowrap;
	overflow: hidden;
}

.linkStyle {
	color: white;
	text-decoration: none;
}

span {
	margin-bottom: 2rem;
}

.logoutButton {
	margin-top: 10px;
	background-color: #000000;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
